* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: #1e293b;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

h1 {
    color: #ffffff;
    margin-bottom: 25px;
}

.card {
    background: #334155;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    color: white;
    margin-bottom: 15px;
}

button {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: .3s;
}

#lightOn,
#fanOn {
    background: #22c55e;
    color: white;
}

#lightOff,
#fanOff {
    background: #ef4444;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(.95);
}